<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592427852800-q77ado39u4c9bsh1sklo7m8pmiovd5ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592427852800-q77ado39u4c9bsh1sklo7m8pmiovd5ls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>592427852800-0vu074e55r2l1v3h48qi8bkvd6u52h20.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBydj69AqryFDCzRSUcc5EwbGm0vXdGvsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>592427852800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jippymart.restaurant</string>
	<key>PROJECT_ID</key>
	<string>jippymart-27c08</string>
	<key>STORAGE_BUCKET</key>
	<string>jippymart-27c08.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592427852800:ios:bb0a3a0f5e4aa07ed1a4e5</string>
	<key>DATABASE_URL</key>
	<string>https://jippymart-27c08-default-rtdb.firebaseio.com</string>
</dict>
</plist>